{% extends 'rafe_contrib/rafe_base2.html' %}
{% block content %}
    <section class="container-md mt-3">
        <div class="text-center border-bottom">
            <h2 class="fw-bold text-center">Add a skill</h2>
            <p class="lead">
                Please add a skill
            </p>
        </div>
    </section>
    <section class="container-md mt-4 p-3">
        {% if name_error %}
            <div class="my-3">
                <small id="orginazation name" class="fw-bold form-text text-danger">Please add an skill.</small>
            </div>
        {% elif proficiency_error%}
        <div class="my-3">
            <small id="role" class="form-text text-danger fw-bold">Proficiency should be just a number</small>
        </div>
        {% endif %}
        {% if success_msg %}
        <div class="my-3">
            click <a href="{% url 'rafe_contrib-work' %}">here</a> {{msg}}
        </div>
        {% endif %}
        <div class="row gy-3">
            {% for skill in skills%}
                <div class="col-md-6">
                    <div class="card h-100 bg-none">
                        <div class="card-body">
                            <div class="d-flex justify-content-between px-3">
                                <div class="d-flex align-items-center gap-2">
                                    <span>
                                        <span class="lead fw-bold">{{skill.name | truncatechars:"30"}}</span>
                                    </span>
                                </div>
                                <div data-bs-toggle="modal" data-bs-target="#delete">
                                    <a href="{% url 'rafe_contrib-delete-skill' skill.id %}">
                                        <h4 class="bi-trash-fill text-danger"></h4>
                                    </a>
                                </div>
                            </div>
                            <div class="mx-3 my-2">
                                <div class="bg-primary rounded-pill" style="height: 0.5rem; width: {{skill.proficiency}}%;"></div>
                            </div>
                            <p class="card-text px-3 mt-3">{{skill.proficiency}}%</p>
                        </div>
                    </div>
                </div>
            {% endfor %}
        <div class="row mt-5 text-center d-flex justify-content-center">
            <div class="col-md-6">
                <button class="btn w-100 btn-secondary" data-bs-toggle="modal" data-bs-target="#work_exp">Add Skill</button>
            </div>
        </div>
        <!-- Modal Body -->
        <div class="modal max-z-index fade" id="work_exp" tabindex="-1" data-bs-backdrop="static" data-bs-keyboard="false" role="dialog" aria-labelledby="workExp_label" aria-hidden="true">
            <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered" role="document">
                <form method="post" class="modal-content">
                    {% csrf_token %}
                    <div class="modal-header">
                        <h5 class="modal-title" id="workExp_label">Add a skill</h5> <!--work on typography-->
                            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
                    </div>
                    <div class="modal-body">
                        <div class="mb-3">
                            <label for="org_name" class="form-label">Skill:</label>
                            {% if name_error %}
                                <input value="{{skill_title}}" type="text" class="form-control" name="skill_title" id="org_name" aria-describedby="orginazation name" placeholder="e.g. SOftware development" style="border-color: #dc3545 !important; box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25) !important;">
                                <small id="orginazation name" class="form-text text-danger fw-bold">Please fill this</small>
                            {% else %}
                                <input value="{{proficiency_}}" type="text" class="form-control" name="skill_title" id="org_name" aria-describedby="orginazation name" placeholder="e.g. SOftware development">
                                <small id="orginazation name" class="form-text text-muted">What skill do you happen to have</small>
                            {% endif %}
                        </div>
                        <div class="mb-3">
                            <label for="org_name" class="form-label">proficiency:</label>
                            {% if proficiency_error %}
                                <input value="{{proficiency_}}" type="text" class="form-control" name="proficiency" id="org_name" aria-describedby="orginazation role" placeholder="e.g. 100%" style="border-color: #dc3545 !important; box-shadow: 0 0 0 0.25rem rgba(220, 53, 69, 0.25) !important;">
                                <small id="role" class="form-text text-danger fw-bold">Should be just a number</small>
                            {% else %}
                                <input value="{{proficiency_}}" type="text" class="form-control" name="proficiency" id="org_name" aria-describedby="orginazation role" placeholder="e.g. 100%">
                                <small id="role" class="form-text text-muted">How good would you consider your self on a scale of 1-100?</small>
                            {% endif %}
                        </div>
                    </div>
                    <div class="modal-footer">
                        <button type="submit" class="w-100 btn btn-secondary">Add Skill</button>
                    </div>
                </form>
            </div>
        </div>
        </div>
    </section>
{% endblock content %}