<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.5.0/font/bootstrap-icons.css">
    <title>Welcome to Progenex</title>
</head>
<body>
    <!-- <section id="navbar">
        <nav class="navbar navbar-expand-md navbar-dark bg-dark">
            <div class="container-xl">
                <a href="#" class="navbar-brand">
                    <i class="bi bi-book-half"></i>
                    <span class="fw-bold">Pro</span>genex
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#main-nav" aria-controls="main-nav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-end align-center" id="main-nav">
                    <ul class="navbar-nav">
                        <li class="nav-item">
                            <a href="{% url 'register' %}" class="nav-link">Sign Up</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'login' %}" class="nav-link">Log in</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'index' %}" class="nav-link">About</a>
                        </li>
                        <li class="nav-item">
                            <a href="{% url 'index' %}" class="nav-link">Contact</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </section> -->

    <section id="body">
        <h2 class="display-4">Hey there {{user}}, Welcome, to Progenex!!!</h2>
        <p class="lead">Welcome to the future of NoCode, Progenex by Genxis</p>
        <p class="muted display-3">What is Progenex?</p>
        <p>Progenex is an <span class="fw-bold">AIO(All In One)</span> NoCode software that'll give you access to a variety of different services. With Progenex, you can build things like Management Systems, Ecommerce Stores, Portfolios, Company Websites, Information Gathering websites and much more with just a single click which means you'd get things donw in record time.</p>
        <p>If you're getting this email, it means you just registered on V0.1 of Progenex built by Tobi TheRevolutionary which should give you access to our portfolio generator. The UI is still a work in progress as I didn't pay too much attention to it. Instead I just went with a wing it approach and did whatever came to my head. But, rest assured V0.2 will definately feature a better UI and some awesome new products too. So just sit back, relax and let us do the work  for you.</p>
        <p>Okay, now that we've given you a brief about what Progenex is, Why don't we tell you how you can make that Portfolio that'll blow employers away.</p>
        <h3 class="display-3">Tips on how to improve your portfolio</h3>
        <dl>
            <dt><strong>Compelling Introductions</strong></dt>
            <dd>For Starters, the <span class="fw-bold">About Me </span> section in the Personal and Contact information part should be short well detailed but carry things like a summary of what you do, who you are and your achievements. This should put you on step further.</dd>
            <dt><strong>Detailed Experience</strong></dt>
            <dd>When building that portfolio for your dream job, it is important that your work experience is well detailted. This means that the description of your role should carry things like your responsibilities and work description</dd>
            <dt><strong>Achievements</strong></dt>
            <dd>Your achievements matter alot while buildidng a portfolio as it helps to attract potential employers so when building that portfolio make sure you add your achievements.</dd>
        </dl>
        <p>Well, there you go. Some simple tips to help you build your portfolio. Do make sure to share Progenex with your friends and family so that I can be rich and chill in the bahamas with super models or in Japan with some hottie cosplaying Zero Two and calling me darling in Zero Two's voice.</p>
        <p>The next email you get will probably be about V0.2 of Progenex so stay tuned while I assemble the ultimate team of badass devs to make this a reality.</p>
    </section>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-gtEjrD/SeCtmISkJkNUaaKMoLD0//ElJ19smozuHV6z3Iehds+3Ulb9Bn9Plx0x4" crossorigin="anonymous"></script>
</body>
</html>