{% extends 'base2.html' %}
{% load static %}
{% load crispy_forms_tags %}
{% block content %}    
<!--Login-->
<section id="login">
    <div class="justify-content-center">
        <div class="container-lg border-2">
                <div class="text-lg-center text-md-start text-lg-start">
                    <h4 class="fw-bold">New Password</h4>
                    <p class="lead">Type in a new password that you'd like to use.</p>
                </div>
            <div class="row justify-content-center my-3">    
                <div class="col-lg-6">
                    <form method="POST">
                        {% csrf_token %}
                            <div class="text-md-start text-sm-start text-lg-start">
                                {{form|crispy}}
                                <button type="submit" class="btn btn-secondary my-3">Submit</button>
                            </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
<!--Login end-->
</section>
{% endblock %}